{% extends 'base.html.twig' %}

{% block title %}New Expense{% endblock %}

{% block body %}
    <h1>Créer une nouvelle dépense</h1>

    {{ include('expense/_form.html.twig') }}

    <a href="{{ app.request.headers.get('referer') }}">back to list</a>
{% endblock %}
