{% extends 'base.html.twig' %}

{% block title %}Edit Fourcount{% endblock %}

{% block body %}
    <h1>Edit Fourcount</h1>

    {{ include('fourcount/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index', {'id': fourcount.id}) }}" style="margin:5px;">Ajouter des participants</a>
    <a href="{{ path('fourcount_show', {'id': fourcount.id}) }}">back to list</a>

    {{ include('fourcount/_delete_form.html.twig') }}
{% endblock %}
